* {
    color: #6D001A;
    color: #BE0039;
    color: #FF4500;
    color: #FFA800;
    color: #FFD635;
    color: #FFF8B8;
    color: #00A368;
    color: #00CC78;
    color: #7EED56;
    color: #00756F;
    color: #009EAA;
    color: #00CCC0;
    color: #2450A4;
    color: #3690EA;
    color: #51E9F4;
    color: #493AC1;
    color: #6A5CFF;
    color: #94B3FF;
    color: #811E9F;
    color: #B44AC0;
    color: #E4ABFF;
    color: #DE107F;
    color: #FF3881;
    color: #FF99AA;
    color: #6D482F;
    color: #9C6926;
    color: #FFB470;
    color: #000000;
    color: #515252;
    color: #898D90;
    color: #D4D7D9;
    color: #FFFFFF;
}
